{% load quoten %}
<!DOCTYPE html>
<html>
<head>
<title>{{initiative.name}}</title>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<!-- Compiled and minified CSS -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.99.0/css/materialize.min.css">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name='robots' content='noindex,follow' />


<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
<style>
.barchart{
  height: 260px;
  margin-left: -50px;
  margin-right: -50px;
}
.header {
  text-align: center;
}
.modebar, .js-plot-link-container {
  display: none;
}

</style>
</head>
<body>
<div class="container">
  <div class="header">
    <h1>{{initiative.name}}</h1>
    <h2>Sammelstände der Sektionen</h2>
  </div>

  <div class="section">

    <!--   Icon Section   -->
    <div class="row">

      <div class="col s12">
      <div class="barchart">
        {% overview initiative %}
      </div>
    </div>

      {% for quote in initiative.quote_set.all %}
      <div class="col s12">
      <div class="barchart">
        {% overview quote %}
      </div>
    </div>
      {% endfor %}
    </div>
  </div>
</div>
</body>
</html>
